/packages
bin
obj
*.suo
*.user
[Tt]humbs.db
*.log
*.css.map
*.mdf
*.ldf

/src/packages/*

.idea
.vs
*.ssms_suo
IBatisNet.Common.Logging.Log4Net.xml
IBatisNet.Common.xml
IBatisNet.DataAccess.xml
src/MSBuild/Castle.Core.dll
src/MSBuild/Castle.Core.xml
src/MSBuild/Castle.DynamicProxy.dll
src/MSBuild/Castle.Services.Logging.Log4netIntegration.dll
src/MSBuild/castle_core_readme.txt
src/MSBuild/IBatisNet.Common.dll
src/MSBuild/IBatisNet.Common.Logging.Log4Net.dll
src/MSBuild/IBatisNet.DataMapper.dll
src/MSBuild/IBatisNet.DataMapper.xml
src/MSBuild/log4net.dll
src/MSBuild/log4net.xml
src/MSBuild/log4net_license.txt
src/MSBuild/log4net_README.txt
