<?xml version="1.0" encoding="utf-8"?>
<providers xmlns="http://ibatis.apache.org/providers" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <clear/>
  <provider
    name="MySql"
    connectionAdapterClass="ORBatis.Test.Common.Infrastructure.ConnectionAdapter, ORBatis.Test.Common"
    description="MySqlConnector"
    enabled="true"
    assemblyName="MySqlConnector"
    connectionClass="MySqlConnector.MySqlConnection"
    commandClass="MySqlConnector.MySqlCommand"
    parameterClass="MySqlConnector.MySqlParameter"
    parameterDbTypeClass="MySqlConnector.MySqlDbType"
    parameterDbTypeProperty="MySqlDbType"
    dataAdapterClass="MySqlConnector.MySqlDataAdapter"
    commandBuilderClass="MySqlConnector.MySqlCommandBuilder"
    usePositionalParameters="false"
    useParameterPrefixInSql="true"
    useParameterPrefixInParameter="true"
    parameterPrefix="?"
    allowMARS="false"
  />
</providers>
