<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <settings>
    <setting cacheModelsEnabled="false"/>
    <setting useStatementNamespaces="true"/>
  </settings>
  <providers embedded="ORBatis.Test.Common.Config.Providers.config, ORBatis.Test.Common"/>
  <database>
    <provider name="MySql"/>
    <dataSource name="default" connectionString="${ConnectionString}"/>
  </database>
  <alias>
    <typeAlias alias="Holiday" type="ORBatis.Test.Common.Models.Holiday, ORBatis.Test.Common"/>
    <typeAlias alias="GenericHoliday" type="ORBatis.Test.Common.Models.GenericHoliday, ORBatis.Test.Common"/>
  </alias>
  <typeHandlers>
    <typeHandler type="Guid" callback="ORBatis.Test.Core.TypeHandlers.GuidByteArray, ORBatis.Test.Core" />
    <typeHandler type="System.Nullable`1[[System.Guid]]" callback="ORBatis.Test.Core.TypeHandlers.GuidByteArray, ORBatis.Test.Core" />
  </typeHandlers>
  <sqlMaps>
    <sqlMap embedded="ORBatis.Test.Common.Config.Definitions.Holiday.xml, ORBatis.Test.Common"/>
  </sqlMaps>
</sqlMapConfig>
